.App {
  font-family: 'MesloLGL Nerd Font';
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#light {
  background-color: #D9D9D9;
}

#dark {
  background-color: #111930;
}

#light p {
  color: #111930;
}

#dark p {
  color: #D9D9D9;
}

body {
  margin: 0;
  padding: 0;
}

.switch {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}